.title-button {
  text-align: center;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 1rem;
}

p {
  font-family: "Montserrat", serif;
}

body {
  background-color: #020202;
  color: white;

  .nav-link {
    color: white;
  }
}
.yellow-text {
  color: #ffde59;
}

.dark-mode {
  background-color: #020202;
  color: white;

  .nav-link {
    color: white;
  }
}

.light-mode {
  background-color: white;
  color: #020202;

  .nav-link {
    color: #020202;
  }
}

/* NavBar Section */

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-family: "Montserrat", serif;
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: #ffde59;
}

.homepage-button {
  border: none;
}
.light-mode-button {
  background-color: #020202;
  border: 0;
  padding: 10px 8px;
}

.dark-mode-button {
  background-color: white;
  border: 0;
  padding: 10px 8px;
}

/* Title Image */

.title-image {
  width: 70%;
  left: 185px;
  bottom: 20px;
  border-radius: 15px;
  position: relative;
}

/* Projects Section */

#Projects {
  padding: 7% 15%;
  position: relative;
}

.projects-Title {
  font-family: "Montserrat", serif;
  font-size: 2rem;
  font-style: italic;
  padding: 10% 0%;
}

.project-img {
  max-width: 150%;
  border-radius: 15px;
  margin-bottom: 50%;
}

.project-desc {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  align-self: center;
  padding: 20% 0%;
  font-size: 1rem;
}

/* Media Query Section */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
