#title {
  background-color: #232b2b;
}

.title-button {
  text-align: center;
}

.container-fluid {
  padding: 3% 15%;
}

body {
  background-color: #232b2b;
}

/* NavBar Section */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Montserrat", serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.nav-item {
  padding: 0 18px;
  color: white;
}

.nav-link {
  font-family: "Montserrat", serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
}

.nav-link:hover {
  color: #ffde59;
}

.homepage-image {
  max-width: 15%;
}

/* Resume */

.resume-data {

}
